.booking-label {
  font-size: 25px;
  font-weight: 500;
  color: #000;
  border-left:1px solid #0088FF;
  padding: 16px 21px;
  margin-bottom: 35px;
}
.booking-grid {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) ;
  gap: 16px ;
  width: 100% ;
}

.booking-item {
  position: relative ;
  min-width: 0 ;
  width: 100% ;
}

/* Responsive */
@media (max-width: 1024px) {
  .booking-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .booking-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .booking-grid {
    grid-template-columns: 1fr;
  }
}