/* ================= GLOBAL PAGE LAYOUT ================= */

/* المنطقة بين النافبار والفوتر */
.page-content {
  background: #ffffff;
  min-height: calc(100vh - 160px); /* يمنع الفراغ تحت */
  display: flex;
}

/* الكونتينر الموحد لكل الصفحات */
.page-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;

  padding:
    clamp(20px, 3vw, 30px)
    clamp(16px, 4vw, 40px)
    90px;

  box-sizing: border-box;
}
*{
  font-family: Arial;
}